#private{
    color: rgb(0, 0, 0);
}

.nav-link{
    color: #000000;
}

.marginTop{
    padding-top: 20px;
}



#private-container{
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}

.colorH{
    color: #000000;
}

#xd{
    margin-top: 90px;
    
}

#button-private{
    background-color: #f3de69f8;
    width: 300px;
    height: 60px;
}
/*
.icon-private{
    width: 10px;
    height: 10px;
}*/

#icon-private{
    width: 25px;
    height: 25px;
}

#icon-img-private{
    width: 20px;
    height: 20px;
}
/*
#cont-nav{
    margin-left: 100px;
    margin-right: 100px;
}
*/
#size-select{
    width: 100px;
}

main{
    margin-top: 50px;
}

#tabla{
    
    margin-bottom: 20px;
}


/*------------------------------------------------ESTUDIANTES------------------------------*/

#infoMenuEmp{
    margin-top: 10px;
}

.EstResForm{
    max-height: 170px;
}

.FIcha{
    border-radius: 10px;
    padding: 10px;
    background-color: #7B7B7B;
    color:  black;
}


/*------------------------------------------------------EMPLEADOS-----------------------------------------*/
/*Contenido*/
#btnEmpleados{
    background-color: #60BDDE;
    color: #4C4A59;
    margin-bottom: 20px;
}

#buscarEm{

    border-bottom: solid black;
}

#colDivEM{
    margin-top: 20px;
}

.dropform{
    background-color: #60BDDE;
    color: black;
}

#TablaEm{
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    /*background-color: #e6e6e6;*/
    /*color: #4C4A59;*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon_emp{
    height: 30px;
}

/*.hr{
    color: black;
    border-width: 1px;
    border: solid gray ;
}*/

#titulos{
    border-bottom: solid black;
    margin-bottom: 10px;
}

#btnInfoDocente{
    border: none;
    background: none;
}

/*Modal informacion de docente*/

#ModalDocentesInfo{
    font-size: 15px;
}

#btnEm_grado{
    background-color: #7B7B7B;
    color: black;
    word-wrap: break-word;
}

#table_act{
    background-color: #C7C7C7;
    border-radius: 15px;
    padding-top: 20px;
    font-size: small;
}

#btnTipo_Act{
    color: black;
    background-color: #7B7B7B;
    word-wrap: break-word;
    font-size: 10px;
}

#Asignaturas_Mod{
    border-radius: 10px;
    background-color: #ADADAD;
}

/*-----------------------USUARIOS----------------------------*/

#green_circle{
    height: 15px;
}

@media (max-width: 980px) {
    .Respon_BTN{
        padding-top: 30px;
        margin-right: 40px;
    }

    .Empleados_Asig{
        margin-left: 50px;
    }
}

/*----------------------------------LOGIN SITIO PRIVADO---------------------------------------*/

#login_private {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../recursos/login_privado/fondo_login_privado.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#formulario_login {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    background: #007286;
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 40px 45px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form label input {
    outline: none;
    border: none;
    background-color: #007286;
    color: rgb(223, 223, 223);
    border-bottom: solid 1px #ffffff;
    padding: 0 15px;
    font-size: 14px;
    margin-bottom: 50px;
}

#login_button{
    width: 220px;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #ebebeb;
    color: #000000;
}

#login_button a{
    text-decoration: none;
    color: #10a9c4;
}

#usuario::placeholder {
    color:rgb(223, 223, 223);
  }

#clave::placeholder {
    color:rgb(223, 223, 223);
  }

#link_password{
    color: white;
    text-decoration: none;
}

/*DESDE AQUÍ materia_mate */

#rectangulo_identificativo_mate{
    position: absolute;
width: 1440px;
height: 150px;
left: 0px;
top: 100px;



background: rgba(218, 91, 50, 0.48);
}

#Letra_rectangulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #FFFFFF;
}

#pestañas_acceso{
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

#ex1{
margin-left: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #000000;
}

#ex1-tab-1-mate{
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#ex1-tab-mate{
    background: rgba(218, 91, 50, 0.48);
border: 1px solid rgba(0, 0, 0, 0.06);
border-radius: 10px;
}

#viñetas{
    width: 15rem;
    margin-top: 50px;
}

#descripcion_trimestre{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;

/* identical to box height */


color: #000000;
}

#portadas_mate{
    width: 1050px;
}

#Actividades_cards{
    margin-top: 20px;
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.24);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
margin-bottom: 20px;
}

#img_porcentajes{
    width: 5rem;
    margin-left: 150px;
}

/* Diferentes de materia_ciencias */

#rectangulo_identificativo_ciencia{
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 100px;

background: rgba(56, 179, 91, 0.48);
}

#ex1-tab-ciencia{
    background: rgba(56, 179, 91, 0.48);
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#portadas_ciencias{
    width: 1000px;
    display: flex;
    justify-content: center;
   
}

/* DASHBOARD PUBLICO */
#cuadro_usuario{
    width: auto;
height: 71px;
left: 85px;
top: 697px;

background: rgba(76, 74, 89, 0.23);
border-radius: 30px;
}

#nombre_usuario{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #000000;
}

#iconos_naranja{
    margin-left: 150px;
    width: 10rem;
    padding: 10px;

}

#etiquetas_materias{
    padding: 20px;
    width: 600px;
}

#texto_seccion_dashboard{
    text-align: center;
    padding: 20px;

}

#card_evaluaciones{
    margin-left: 90px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Diferentes de materia_lenguaje */

#rectangulo_identificativo_lenguaje{
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 100px;

background: rgb(222, 197, 53);
}

#ex1-tab-1-lenguaje{
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#ex1-tab-lenguaje{
    background: rgb(249, 215, 45);
border: 1px solid rgba(0, 0, 0, 0.06);
border-radius: 10px;
}

#portadas_lenguaje{
    width: 1000px;
    display: flex;
    justify-content: center;
}

/* Diferentes de materia_sociales */

#rectangulo_identificativo_sociales{
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 100px;

background: rgb(37, 69, 144);
}

#ex1-tab-1-sociales{
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#ex1-tab-sociales{
    background: rgb(50, 132, 199);
border: 1px solid rgba(0, 0, 0, 0.06);
border-radius: 10px;
}

#portadas_sociales{
    width: 1000px;
    display: flex;
    justify-content: center;
}

/* Diferentes de materia_ingles */

#rectangulo_identificativo_ingles{
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 100px;

background: rgb(53, 162, 213);
}

#ex1-tab-1-ingles{
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#ex1-tab-ingles{
    background: rgb(97, 155, 202);
border: 1px solid rgba(0, 0, 0, 0.06);
border-radius: 10px;
}

#portadas_ingles{
    width: 1000px;
    display: flex;
    justify-content: center;
}

/* Diferentes de materia_computacion */

#rectangulo_identificativo_computacion{
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 100px;

background: rgb(92, 127, 148);
}

#ex1-tab-1-computacion{
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#ex1-tab-computacion{
    background: rgb(104, 136, 163);
border: 1px solid rgba(0, 0, 0, 0.06);
border-radius: 10px;
}

#portadas_computacion{
    width: 1000px;
    display: flex;
    justify-content: center;
}


/*-----------------------INGRESAR NOTAS DOCENTE----------------------------*/
#Materias_Grid{
    margin-top: 50px;
    margin-bottom: 50px;
}

.repro{
    color: red;
}

.apro{
    color: green;
}

#selectTri{
    border-radius: 0.25rem;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

#TrimestreSelect{
    background:rgb(53, 162, 213);
}

.notaIn{
    background-color:#cfcfcf;
    font-size: 14px;
    width: 100px;
    border: none;
    border-radius: 5px;
    /*border-width: 1px;

    border-color: #727272;*/
}

.margin{
    padding-top: 20px;
}



/*-----------------------NOTAS PUBLICO----------------------------*/
#btn_boleta{
    background-color: #DA5B32;
    color: white;
    margin-bottom: 30px;
}

/*----------------------INPUT DEL NIE----------------------------*/
#nie{
    width: 100px;
    border-top: 0;
    border-left: 0;
    border-right: 0;  
    outline: none;    
}

textarea, input.try{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;    
}

textarea, input.try2{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    outline: none;    
}


textarea.try{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;    
}

div.telefono{
    background-color: #ebebeb;
    border-radius: 10px;
}

