#private{
    background-color: #dadada;
    color: rgb(0, 0, 0);
}

#private-container{
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}


#xd{
    margin-top: 90px;
    
}

#button-private{
    background-color: #f3de69f8;
    width: 300px;
    height: 60px;
}

#icon-private{
    width: 40px;
    height: 40px;
}

#size-select{
    width: 100px;
}

main{
    margin-top: 150px;
}

table{
    background-color: rgb(207, 207, 207);
}


/*------------------------------------------------------EMPLEADOS-----------------------------------------*/
/*Contenido*/
#btnEmpleados{
    background-color: #60BDDE;
}

#buscarEm{

    border-bottom: solid black;
}

#colDivEM{
    margin-top: 20px;
}

#dropform{
    background-color: #60BDDE;
    color: black;
}

#TablaEm{
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    background-color: #BFBFBF;
    color: #4C4A59;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon_emp{
    height: 30px;
}

.hr{
    color: black;
    border-width: 1px;
    border: solid gray ;
}

#titulos{
    border-bottom: solid black;
    margin-bottom: 10px;
}

#btnInfoDocente{
    border: none;
    background: none;
}

/*Modal informacion de docente*/

#ModalDocentesInfo{
    font-size: 15px;
}

#btnEm_grado{
    background-color: #7B7B7B;
    color: black;
    word-wrap: break-word;
}

#table_act{
    background-color: #C7C7C7;
    border-radius: 15px;
    padding-top: 20px;
    font-size: small;
}

#btnTipo_Act{
    color: black;
    background-color: #7B7B7B;
    word-wrap: break-word;
    font-size: 10px;
}

#Asignaturas_Mod{
    border-radius: 10px;
    background-color: #ADADAD;
}

/*-----------------------USUARIOS----------------------------*/

#green_circle{
    height: 15px;
}

@media (max-width: 980px) {
    .Respon_BTN{
        padding-top: 30px;
        margin-right: 40px;
    }

    .Empleados_Asig{
        margin-left: 50px;
    }
}

